In [1]:
import pandas as pd
df = pd.read_csv('AR001.csv')

In [3]:
# df.info()

In [5]:
df.columns

Index(['From Date', 'To Date', 'PM2.5 (ug/m3)', 'PM10 (ug/m3)', 'NO (ug/m3)',
       'NO2 (ug/m3)', 'NOx (ppb)', 'NH3 (ug/m3)', 'SO2 (ug/m3)', 'CO (mg/m3)',
       'Ozone (ug/m3)', 'Benzene (ug/m3)', 'Toluene (ug/m3)',
       'Eth-Benzene (ug/m3)', 'MP-Xylene (ug/m3)', 'O Xylene (ug/m3)',
       'RH (%)', 'WS (m/s)', 'WD (degree)', 'SR (W/mt2)', 'BP (mmHg)',
       'VWS (m/s)', 'Xylene (ug/m3)', 'AT (degree C)', 'RF (mm)'],
      dtype='object')

In [8]:
df_1 = df[['PM2.5 (ug/m3)', 'PM10 (ug/m3)', 'NH3 (ug/m3)', 'SO2 (ug/m3)', 'CO (mg/m3)',
       'Ozone (ug/m3)','NO2 (ug/m3)']]

In [10]:
df_1.set_index(df['From Date'],inplace=True)
df_1.head()

,PM2.5 (ug/m3),PM10 (ug/m3),NH3 (ug/m3),SO2 (ug/m3),CO (mg/m3),Ozone (ug/m3),NO2 (ug/m3)
From Date,,,,,,,
26-03-2021 09:00,47.00,208.00,1.84,18.36,0.47,12.68,6.54
26-03-2021 10:00,45.70,234.36,1.37,18.54,0.46,20.54,5.98
26-03-2021 11:00,37.55,152.26,1.03,18.46,0.43,33.75,5.38
26-03-2021 12:00,41.74,131.56,2.14,18.56,0.45,32.76,7.50
26-03-2021 13:00,43.23,143.69,2.41,19.07,0.49,27.54,8.08

In [11]:
df_1.columns

Index(['PM2.5 (ug/m3)', 'PM10 (ug/m3)', 'NH3 (ug/m3)', 'SO2 (ug/m3)',
       'CO (mg/m3)', 'Ozone (ug/m3)', 'NO2 (ug/m3)'],
      dtype='object')

In [13]:
df_1.head()

,PM2.5 (ug/m3),PM10 (ug/m3),NH3 (ug/m3),SO2 (ug/m3),CO (mg/m3),Ozone (ug/m3),NO2 (ug/m3)
From Date,,,,,,,
26-03-2021 09:00,47.00,208.00,1.84,18.36,0.47,12.68,6.54
26-03-2021 10:00,45.70,234.36,1.37,18.54,0.46,20.54,5.98
26-03-2021 11:00,37.55,152.26,1.03,18.46,0.43,33.75,5.38
26-03-2021 12:00,41.74,131.56,2.14,18.56,0.45,32.76,7.50
26-03-2021 13:00,43.23,143.69,2.41,19.07,0.49,27.54,8.08

In [21]:
def calculate_aqi(pollutant_name, concentration):
    # Define the AQI breakpoints and associated sub-index values for each pollutant
    breakpoints = {
        "PM2.5": [(0, 30), (31, 60), (61, 90), (91, 120), (121, 250), (251, 350)],
        "PM10": [(0,50),(51,100),(101,250),(251,350),(351,430),(431,500)],
        "O3": [(0,50),(51,100),(101,168),(169,208),(209,748),(749,1000)],
        "CO": [(0, 1.0), (1.1, 2.0), (2.1, 10), (10.1, 17), (17.1, 34),(34.1,50)],
        "NO2": [(0, 40), (41, 80), (81, 180), (181, 280), (281, 400),(401,500)],
        "SO2": [(0, 40), (41, 80), (81, 380), (381, 800), (801, 1600),(1601,2000)],
        "NH3": [(0,200),(201,400),(401,800),(801,1200),(1201,1800),(1801,2000)]
    }
    st_range=[(0,50),(51,100),(101,200),(201,300),(301,400),(401,500)]

    for i in range(len(breakpoints[pollutant_name])):
        low, high = breakpoints[pollutant_name][i]
        if low <= concentration <= high:
            aqi_low, aqi_high = st_range[i]
            aqi = ((aqi_high - aqi_low) / (high - low)) * (concentration - low) + aqi_low
            return aqi

In [22]:
df_1['aqi_pm2.5'] = df_1.apply(lambda row: calculate_aqi("PM2.5", row['PM2.5 (ug/m3)']), axis=1)
df_1['aqi_pm10'] = df_1.apply(lambda row: calculate_aqi("PM10", row['PM10 (ug/m3)']), axis=1)
df_1['aqi_o3'] = df_1.apply(lambda row: calculate_aqi("O3", row['Ozone (ug/m3)']), axis=1)
df_1['aqi_co'] = df_1.apply(lambda row: calculate_aqi("CO", row['CO (mg/m3)']), axis=1)
df_1['aqi_no2'] = df_1.apply(lambda row: calculate_aqi("NO2", row['NO2 (ug/m3)']), axis=1)
df_1['aqi_so2'] = df_1.apply(lambda row: calculate_aqi("SO2", row['SO2 (ug/m3)']), axis=1)
df_1['aqi_nh3'] = df_1.apply(lambda row: calculate_aqi("NH3", row['NH3 (ug/m3)']), axis=1)

C:\Users\Darshan\AppData\Local\Temp\ipykernel_15548\2388205521.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1['aqi_pm2.5'] = df_1.apply(lambda row: calculate_aqi("PM2.5", row['PM2.5 (ug/m3)']), axis=1)
C:\Users\Darshan\AppData\Local\Temp\ipykernel_15548\2388205521.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1['aqi_pm10'] = df_1.apply(lambda row: calculate_aqi("PM10", row['PM10 (ug/m3)']), axis=1)
C:\Users\Darshan\AppData\Local\Temp\ipykernel_15548\2388205521.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1['aqi_o3'] = df_1.apply(lambda row: calculate_aqi("O3", row['Ozone (ug/m3)']), axis=1)
C:\Users\Darshan\AppData\Local\Temp\ipykernel_15548\2388205521.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1['aqi_co'] = df_1.apply(lambda row: calculate_aqi("CO", row['CO (mg/m3)']), axis=1)
C:\Users\Darshan\AppData\Local\Temp\ipykernel_15548\2388205521.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1['aqi_no2'] = df_1.apply(lambda row: calculate_aqi("NO2", row['NO2 (ug/m3)']), axis=1)
C:\Users\Darshan\AppData\Local\Temp\ipykernel_15548\2388205521.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1['aqi_so2'] = df_1.apply(lambda row: calculate_aqi("SO2", row['SO2 (ug/m3)']), axis=1)
C:\Users\Darshan\AppData\Local\Temp\ipykernel_15548\2388205521.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1['aqi_nh3'] = df_1.apply(lambda row: calculate_aqi("NH3", row['NH3 (ug/m3)']), axis=1)

In [25]:
df_1.head()

,PM2.5 (ug/m3),PM10 (ug/m3),NH3 (ug/m3),SO2 (ug/m3),CO (mg/m3),Ozone (ug/m3),NO2 (ug/m3),aqi_pm2.5,aqi_pm10,aqi_o3,aqi_co,aqi_no2,aqi_so2,aqi_nh3
From Date,,,,,,,,,,,,,,
26-03-2021 09:00,47.00,208.00,1.84,18.36,0.47,12.68,6.54,78.034483,172.093960,12.68,23.5,8.175,22.9500,0.4600
26-03-2021 10:00,45.70,234.36,1.37,18.54,0.46,20.54,5.98,75.837931,189.608322,20.54,23.0,7.475,23.1750,0.3425
26-03-2021 11:00,37.55,152.26,1.03,18.46,0.43,33.75,5.38,62.067241,135.058658,33.75,21.5,6.725,23.0750,0.2575
26-03-2021 12:00,41.74,131.56,2.14,18.56,0.45,32.76,7.50,69.146897,121.304966,32.76,22.5,9.375,23.2000,0.5350
26-03-2021 13:00,43.23,143.69,2.41,19.07,0.49,27.54,8.08,71.664483,129.364497,27.54,24.5,10.100,23.8375,0.6025